@font-face {
  font-family: 'Muller';
  src: url('fonts/Fontfabric - MullerRegular.otf') format('truetype'),
  url('fonts/Fontfabric - MullerRegular.otf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Muller-medium';
  src: url('fonts/Fontfabric - MullerMedium.otf') format('truetype'),
  url('fonts/Fontfabric - MullerMedium.otf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Muller-bold';
  src: url('fonts/Muller-Trial-Bold.ttf') format('truetype'),
  url('fonts/Muller-Trial-Bold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

body {
  margin: 0 10px;
  font-family: "Muller", serif;
}

.logo-big {
  display: none;
}

.questions-button-big {
  display: none;
}

.burger-menu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1000;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease, visibility 0.3s ease;
}

.burger-menu.active {
  opacity: 1;
  visibility: visible;
}

.advantages-big {
  display: none;
}

.burger-icon {
  cursor: pointer;
  position: fixed;
  top: 40px;
  right: 10px;
}

.burger-icon div {
  width: 25px; /* Уменьшили ширину полосок */
  height: 3px; /* Уменьшили высоту полосок */
  background-color: #000;
  margin: 4px 0; /* Уменьшили отступы между полосками */
  transition: all 0.3s ease;
}

.burger-icon.active div:nth-child(1) {
  transform: rotate(-45deg) translate(-5px, 5px);
}

.burger-icon.active div:nth-child(2) {
  opacity: 0;
}

.burger-icon.active div:nth-child(3) {
  transform: rotate(45deg) translate(-5px, -5px);
}

.menu-content {
  text-align: center;
  padding: 20px;
}

.menu-content h2 {
  font-size: 24px;
  margin-top: 40px;
}

.menu-content p {
  font-size: 16px;
  margin-bottom: 20px;
  margin-top: 20px;
}

.menu-content p a {
  text-decoration: none;
  color: #000;
}

.contacts {
  font-size: 18px;
}

.header {
  position: absolute;
  top: 40px;
  right: 10px;
  left: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1001;
}


.headers {
  margin-top: 40px;
  display: flex;
  flex-direction: row;
}

.headers-big {
  display: none;
}


.main {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.main-img {
  width: 105%;
  margin: 0 -20px;
}

.main-img768 {
  display: none;
}

.main-title {
  font-family: "Muller-bold", serif;
  z-index: 1;
  margin-top: 20px;
  font-size: 24px;
  font-weight: bold;
}

.main-subtitle {
  z-index: 1;
  margin-top: 20px;
  font-size: 16px;
}

.main-button {
  z-index: 1;
  width: 80%;
  margin-top: 20px;
  padding: 10px 80px;
  border: none;
  border-radius: 10px;
  background-color: #2C3C98;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
}

.vacancies {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-top: 80px;
}

.vacancies-title {
  font-size: 16px;
  color: #717171;
}

.vacancies-subtitle {
  font-family: "Muller-bold", serif;
  margin-top: 10px;
  font-size: 22px;
  font-weight: bold;
}


.slider1-container {
  position: relative;
  overflow: hidden;
  width: 100%;
  margin-top: 30px;
  margin-left: -10px;
}

.slider1 {
  display: flex;
  transition: transform 0.3s ease-in-out;
}

.card1 {
  height: 200px;
  position: relative;
  flex: 0 0 auto;
  width: 300px;
  margin: 10px;
  background-color: #fff;
  border-radius: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.card1 .card-body-img:nth-child(9) {
  width: 15%
}

.card-header {
  background-color: #002060;
  color: white;
  padding: 15px;
  font-size: 1.5em;
  text-align: center;
}

.card-body {
  padding: 15px;
  display: flex;
  flex-direction: column;
}

.card-body-title {
  align-self: start;
}

.card-body-subtitle {
  font-size: 16px;
}

.card-body-img2 {
  width: 50px;
  height: 50px;
}

.slider2-container {
  position: relative;
  overflow: hidden;
  width: 100%;
  margin-top: 30px;
  margin-left: -10px;
}

.slider2 {
  display: flex;
  transition: transform 0.3s ease-in-out;
}

.card2 {
  height: 250px;
  position: relative;
  flex: 0 0 auto;
  width: 300px;
  margin: 10px;
  background-color: #fff;
  border-radius: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.card2-header {
  background-color: #002060;
  color: white;
  padding: 15px;
  font-size: 1.5em;
  text-align: center;
}

.card2-body {
  padding: 15px;
  display: flex;
  flex-direction: column;
}

.card2:last-child {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid #2C3C98;
}

.card2-link {
  text-decoration: none;
  color: #2C3C98;
}

.card2-body-title {
  align-self: start;
  font-size: 20px;
}

.card2-body-subtitle {
  font-size: 16px;
}

.card2-body-img2 {
  width: 50px;
  height: 50px;
}

.card-body-img {
  position: absolute;
  bottom: 20px;
  right: 20px;
  width: 30%;
}


.about {
  margin-top: 80px;
  text-align: center;
}

.about-title {
  font-size: 16px;
  color: #717171;
}

.about-subtitle {
  font-family: "Muller-bold", serif;
  margin-top: 10px;
  font-size: 22px;
  font-weight: bold;
}

.about_table {
  text-align: center;
  margin-top: 20px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}

.about_table-item_title {
  font-size: 20px;
  font-family: Muller-medium, serif;
}

.about_table-item {
  display: flex;
  flex-direction: column;
}

.about_table-item_subtitle {
  margin-top: 12px;
  color: #989CA5;
  font-size: 16px;
  font-family: Muller, serif;
  max-width: 160px;
  align-self: center;
}

.about_table-item3 {
  grid-column: span 2;
}

.about_text {
  text-align: center;
  font-size: 16px;
  font-family: "Muller", serif;
  margin-top: 20px;
}

.about_text2 {
  text-align: center;
  font-size: 16px;
  font-family: "Muller", serif;
  margin-top: 20px;
}

.video-big {
  display: none;
}

.video {
  margin-top: 30px;
  width: 100%;
}

.advantages {
  margin-top: 80px;
  text-align: center;
}

.advantages-title {
  font-size: 16px;
  color: #717171;
}

.advantages-subtitle {
  font-family: "Muller-bold", serif;
  text-align: start;
  margin-top: 10px;
  font-size: 22px;
  font-weight: bold;
}

.residence {
  margin-top: 80px;
  text-align: start;
}

.residence-title {
  font-size: 16px;
  color: #717171;
}

.residence-subtitle {
  font-family: "Muller-bold", serif;
  margin-top: 10px;
  font-size: 22px;
  font-weight: bold;
}

.residence-text {
  margin-top: 20px;
  font-family: "Muller", serif;
  font-size: 16px;
}

.residence-text:nth-child(1) {
  margin-top: 30px;
}

.slider_2 {
  margin-top: 20px;
  position: relative;
  width: 100%;
  height: 400px;
  overflow: hidden;
}
.slides_2 {
  display: flex;
  transition: transform 0.5s ease-in-out;
}
.slide_2 {
  min-width: 768px;
  height: 300px;
}
.navigation_2 {
  position: absolute;
  top: 40%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  transform: translateY(-50%);
}
.prev_2, .next_2 {
  width: 25px;
  height: 25px;
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.7);
  border: none;
  border-radius: 50%;
  /*padding: 10px;*/
}

.prev_2 {
  margin-left: 10px;
}

.next_2 {
  margin-right: 10px;
}

.questions-button {
  font-size: 16px;
  margin-top: 20px;
  padding: 10px 75px;
  width: 100%;
  border: 1px solid black;
  background-color: white;
  border-radius: 10px;
}



.faq-container {
  margin: 30px 0 0 0;
}

.faq-item {
  border-bottom: 0.5px solid #ccc;
  margin-bottom: 10px;
}

.faq-question {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  font-size: 18px;
  font-weight: bold;
  /*padding: 10px;*/
  padding-bottom: 15px;
  padding-top: 15px;
  padding-right: 15px;
  /*background-color: #f1f1f1;*/
  user-select: none;
  line-height: 25px;
}

.faq-answer {
  font-size: 18px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease-out, opacity 0.5s ease-out;
  opacity: 0;
  text-align: start;
}

.faq-answer-list {
  padding-left: 30px;
  line-height: 30px;
}

.faq-answer.open {
  max-height: 600px; /* Достаточно большое значение для развертывания */
  margin-bottom: 20px;
  opacity: 1;
}

.toggle-sign {
  font-size: 20px;
}

.application {
  margin-top: 80px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.application_subtitle {
  margin-top: 20px;
  font-size: 16px;
  font-family: "Muller", serif;
  text-align: center;
}

.application-title {
  font-family: "Muller-bold", serif;
  margin-top: 20px;
  font-size: 22px;
  text-align: center;
}

.application_text {
  margin-top: 8px;
  text-align: center;
  color: #8F8F8F;
  font-size: 13px;
  font-family: "Muller", serif;
  margin-bottom: 80px;
}



.application-button {
  margin-top: 30px;
  width: 100%;
  padding: 15px;
  background-color: #2C3C98;
  color: white;
  border: none;
  border-radius: 10px;
  font-size: 18px;
  cursor: pointer;
}

.application-button:hover {
  background-color: #333;
}

@media screen and (min-width: 768px) {
  .slider1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
  }

  .card1 {
    width: 95%;
  }

  .card-body-img {
    width: 20%;
    height: 40%;
  }

  .about_text {
    width: 70%;
  }

  .about_text2 {
    width: 70%;
  }

  .main {
    position: relative;
    margin-bottom: 200px;
    align-items: start;
    justify-content: start;
    text-align: start;
  }

  .main-button {
    width: 270px;
  }

  .main-img {
    display: none;
  }

  .main-title {
    font-size: 26px;
    width: 40%;
  }

  .main-subtitle {
    width: 40%;
  }

  .main-img768 {
    position: absolute;
    display: block;
    width: 100%;
  }

  .about {
    text-align: start;
  }

  .about_table {
    width: 70%;
    grid-template-columns: 33% 33% 33%;
  }

  .about_table-item {
    align-items: start;
  }

  .about_table-item_subtitle {
    align-self: start;
    text-align: start;
  }

  .about_text {
    text-align: start;
  }

  .about_text2 {
    text-align: start;
  }

  .about_table-item3 {
    grid-column: span 1;
  }

  .about_table-item_title {
    font-size: 24px;
  }

  .video {
    max-height: 340px;
  }

  .residence {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 40px;
  }

  .residence-title {
    text-align: start;
  }

  .residence-subtitle {
    text-align: start;
  }

  .faq-container {
    margin-left: 0;
    margin-right: 0;
  }

  .questions {
    margin-top: 100px;
    display: flex;
    flex-direction: column;
  }

  .questions-button {
    align-self: center;
    justify-content: center;
    width: 40%;
  }

  .application-title {
    max-width: 70%;
    font-size: 34px;
  }

  .application_subtitle {
    font-size: 20px;
    color: #000000;
  }

  .application-button {
    width: 60%;
  }
  .advantages-title {
    text-align: start;
  }
  .vacancies-title {
    align-self: start;
  }
  .vacancies-subtitle {
    align-self: start;
  }

  .img-width {
    width: 30%;
  }
}

@media screen and (min-width: 1280px) {
  .slider1 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 10px;
    margin-left: -5px;
  }

  .logo {
    display: none;
  }

  .logo-big {
    display: block;
  }

  .main {
    padding-bottom: 250px;
  }
  .main-title {
    font-size: 30px;
  }

  .video {
    display: none;
  }

  .video-big {
    display: block;
  }

  .about {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 40px;
  }

  .about_texts {
    align-self: end;
  }

  .about_text {
    width: 95%;
  }

  .slider2-container {
    display: none;
  }

  .advantages-big {
    width: 98%;
    /*margin-top: 100px;*/
    display: flex;
    flex-direction: column;
  }

  .advantages-title {
    color: #989CA5;
    font-size: 18px;
    text-align: start;
  }

  .advantages_block {
    text-align: start;
  }

  .advantages_block-table {
    margin-top: 30px;
    display: grid;
    gap: 20px;
    grid-template-columns: 30% 35% 34%;
  }

  .advantages-item {
    display: flex;
    border-radius: 10px;
    flex-direction: column;
    background-color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 30px;
  }

  .advantages_block-table_down {
    gap: 20px;
    margin-top: 20px;
    display: grid;
    grid-template-columns: 40% 60%;
  }

  .advantages-item-img {
    width: 50px;
    height: 50px;
  }

  .advantages-item-text {
    margin-top: 15px;
    font-size: 20px;
    font-weight: bold;
  }

  .advantages-item-subtitle {
    margin-top: 10px;
    font-size: 16px;
  }

  .about_text2 {
    width: 95%;
  }

  .about_table {
    width: 90%;
  }

  .about_block2 {
    display: grid;
    align-items: start;
    justify-content: start;
  }

  .about_table-item_title {
    font-size: 24px;
  }

  .about_table-item {
    text-align: start;
    position: relative;
  }

  .about_table-item_subtitle {
    position: absolute;
    left: 0;
    top: 30px;
  }

  .questions {
    margin-top: 20px;
  }

  .questions-button {
    display: none;
  }

  .questions_block {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .questions-button-big {
    background-color: white;
    border-radius: 10px;
    padding: 5px 30px;
    width: 180px;
    /*height: 18px;*/
    border: 1px solid black;
  }

  .headers {
    display: none;
  }

  .headers-big {
    padding-top: 60px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .headers-big-block {
    display: flex;
    flex-direction: row;
    gap: 20px;
  }

  .headers-big-item:hover {
    color: #2C3C98;
  }

  .faq-answer.open {
    margin-bottom: 20px;
  }
  p {
    margin: 0;
  }

  .card-body-img {
    width: 25%;
  }
  .img-width {
    width: 35%;
  }
  .vacancies {
    margin-top: 0;
  }
}

